.Rectangle {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    cursor: pointer;
  }
  .Rectangle:hover{
    opacity: 0.8;
  }
  .Rectangle-26-Copy-23 {
    width: 15rem;
    height: 2rem;
    margin: 3.938rem 7.125rem 0.063rem 9.375rem;
    padding: 0.313rem 0.75rem 0.313rem 0.75rem;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }
  .Rectangle-2-Copy {
    width: 90rem;
    height: 7.125rem;
    margin: 0 0 4.375rem;
    padding: 2.75rem 67.625rem 2.625rem 9.375rem;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }
 .Rectangle-grey{
  margin: 0 0 0 1rem;
  border: solid 1px #f6f3f3;
  background-color: #f6f3f3;
 }
 .prueba{
  opacity:1;
 }
 .image{
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
  

 }
 .select{
 padding-bottom: 1.5rem;
 }
 .word{
  font-weight: bolder;
 }